header {
    font-family: 'Monoton', cursive;
    margin: 0 auto;
}
h1 {
    display: flex;
    justify-content: center;
    color: plum;
}
ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-family: 'Playfair Display', serif;
    font-size: 20px;

}
ul li {s
    padding: 15px;
}
.coverphoto {
    display: flex;
    height: 20vh;
    width: 100vh
}
main {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 100px 0 0 0;
    font-family: 'Playfair Display', serif;


}
.about {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 40vw;
}
.work {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 100px; 
    
}
.work a {
    /* display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat (2, 1fr); */
    padding: 30px;
}
.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px; 
    text-align: center;
}
h2 {
    color: plum;
}