
header {
    font-family: 'Major Mono Display', monospace;
    margin: 0 auto;
}
h1 {
    display: flex;
    justify-content: center;
    color: plum;
    padding-top: 30px;
    letter-spacing: 20px;
}
ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    padding-top: 40px;

}
ul li {
    padding: 15px 0 0 0;
    letter-spacing: 10px;
    font-variant: small-caps;
}
.coverphoto {
    display: flex;
    height: 20vh;
    width: 100vh
}
main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 100px 0 0 0;
    font-family: 'Playfair Display', serif;


}
.about {
    text-align: center;
    background-image: url("/Users/rachel/ga-sei/racheltezza.github.io/images/abstractCover.jpg");
    color: black;
    width: 35vw;
    padding: 15px 50px 15px 50px;
    letter-spacing: 3px;
}
.about h2 {
    letter-spacing: 3px;
}
.work {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 10px; 
    text-align: center;
    
}
.contact {
    text-align: center;
    width: 35vw;
}
.work img{
    width: 50vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}
.work a {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    border: 1px solid black;
    padding:10px;
    margin: 10px 0 10px 0;
    letter-spacing: 3px;

}
.work h2 {
    text-align: center;
    padding-top: 100px; 
    letter-spacing: 6px;
}
.contact h2 {
    text-align: center;
    padding-top: 100px; 
    letter-spacing: 6px;
}
.contact p {
    letter-spacing: 3px;
}
h2 {
    color: plum;
}